.a1-div[data-ad-selector="datepicker-container"] {
    border: 1px solid #d3d3d3;
    background-color: #fff;
}
.a1-table {
    border-collapse: collapse;
    font-size: .9rem;
    font-family: -apple-system, BlinkMacSystemFont, "Arial", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    margin-top: .5em;
    color: #003064;
    background-color: #fff;
    width: auto;
}

.a1-td, .a1-th {
    text-align: center;
    vertical-align: middle;
}

.a1-thead {
    border-bottom: 1px solid rgba(211,211,211, 0.8);
    padding-bottom: 1em;
}

.a1-thead > .a1-tr:first-child > .a1-th {
    height: 31px;
}

.a1-thead > .a1-tr:last-child > .a1-th {
    font-weight: normal;
    color: #505362;
}

.a1-th {
    padding-bottom: 2px;
}

.a1-td {
   height: 28px;
}

.a1-button {
    font-size: 100%;
    font-family: inherit;
    color: inherit;
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    padding: 4px;
    min-width: calc(2em + 4px);
}

.a1-is-today {
    background-color:  #d6e8f5;
}

.a1-button:focus {
    border: 2px solid #003064;
    color: #d4004b;
    padding: 2px;
}

.a1-button:hover {
    border: 2px solid #003064;
    color: #d4004b;
    padding: 2px;
}

.a1-button[aria-disabled=true] {
    color: darkgrey;
}

.a1-input[type=text]:invalid {
    border: 2px solid red;
}

.a1-svg {
    fill: #003064;
}

.a1-table ~ .a1-table .a1-tbody,
.a1-table ~ .a1-table .a1-thead > .a1-tr:last-child {
    border-left: 1px solid rgba(211,211,211, 0.8);
}
