.container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.explanation {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    line-height: 1.5em;
    font-size: 1.2em;
    background-color: #f7fafc;
    padding: 1em;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

label {
    display: inline-block;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: .4em;
}

h1, label {
    color: #1a202c;
}