.dark table {
    border-collapse: collapse;
    font-size: .9rem;
    font-family: -apple-system, BlinkMacSystemFont, "Arial", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    margin-top: .5em;
    margin-right: .2em;
    color: #fff;
    background-color: #3f4458;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(161,161,161,1);
    -moz-box-shadow: 1px 1px 1px 0px rgba(161,161,161,1);
    box-shadow: 1px 1px 1px 0px rgba(161,161,161,1);
}

.dark td, th {
    text-align: center;
    vertical-align: middle;
}

.dark thead {
    border-bottom: 1px solid #8D90A1;
    padding-bottom: 1em;
}

.dark th {
    padding-bottom: 2px;
}

.dark button {
    font-size: 100%;
    font-family: inherit;
    color: inherit;
    background-color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    padding: 4px;
    min-width: calc(2em + 4px);
}

.dark button:focus {
    border: 2px solid deeppink;
    color: deeppink;
    padding: 2px;
}

.dark button[aria-disabled=true] {
    color: darkgrey;
}

.dark input[type=text]:invalid {
    border: 2px solid red;
}

.dark svg {
    fill: #fff;
}