[data-ad-selector="datepicker-container"] {
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 1001;
}

[data-ad-selector="group-container"] {
    position: relative;
}

.visuallyhidden:not(:focus):not(:active) {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

td:empty::after {
    content: "\00a0";
  }